@model DetailsVM
@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Details";
}
@*<label>Name: @Model.Name</label>
<label>E-mail: @Model.Email</label>
<label>Company: @Model.Company</label>*@
<label>Name: @Model.EmployeeName</label>
<label>E-mail: @Model.EmployeeEmail</label>
<label>Company: @Model.CompanyName</label>


